*{
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#joke-container{
    max-width: 900px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* white-space: nowrap; */

}

button{
    padding: 20px;
    border-radius:10px;
    margin-top: 20px;
    background-color: #9399b2;
    color: #cdd6f4;
    font-size:16px ;
}

header{
    padding: 10px;
    text-align: center;
    
}

#joke{
    font-size: 32px;
    line-height: 1.5;
   
}

